.main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(13, 1fr);
  }

  .content_left {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #161D28;
    border-right: solid 0.5px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

  }

  .content_middle {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    flex-direction: column;
    border-right: solid 0.5px white;
    
  }

  .content_right {
    grid-row-start: 1;
    grid-row-end: 13;
    grid-column-start: 10;
    grid-column-end: 14;
    background-color: #161D28;
    align-items: right;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    border-right: solid 0.5px white;
    color: white;
    margin-left: 15px;
  }

  .logo {
    margin-left: 30px;
    margin-top: 20px;
    width: 15%;
    height: auto;
  }

  .userinfo_bottom {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: left;
    justify-content: flex-start;
  }

  .firstname {
    color: white;
  }

  .username {
    color: white;
  }


  .left_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;

  }

  .btn_container {
    text-align: center;
  }

  .home_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border-bottom: solid 0.5px white;
  }

  .title_middle_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .title_middle {
    color: white;
    margin: 15px;
    font-weight: bold;
  }


  .input_container{
    display: flex;
    justify-content: center;
  }

  .input_tweet {
    background-color: #161D28;
    border-bottom: 0.5px solid grey;
    width: 80%;
    height: 120%;
    color: white;

  }

  .home_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
  }


  .hashtag_container {
    background-color: grey;
    margin-right: 20px;
    border-radius: 10px;
  }

  .trends {
    font-size: 20px;
    font-weight: bold;
  }

  .tweets_container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }